/* * {
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
}

.caixa-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #36cde8;
    height: 50px;
    width: 100vw;
    font-size: 1rem;
    font-weight: 700;
 
    
}

.caixa-footer p {
    margin-bottom: 0;
}
 */

 body, html {
    height: 100vh;
}




main {
    flex: 1; 
    padding: 20px;
}

.caixa-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #36cde8;
    height: 60px;
    font-size: 1rem;
    font-weight: 700;
    width: 100%;
}
