.cabecalho{
    display: flex;
    height: 70px;
    background-color: #32D2F2;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 30px;
    
    
}

.cabecalho  img{
    padding: 10px;
    
}


.nav ul{
    display: flex;
    gap: 100pxs;
    margin-bottom: 0;
    padding-left: 0;
    padding: 30px;
    font-size: 1.2rem;
    font-weight: 600;

}

.nav ul:hover{
    color: black;
}