@import "bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  
}


body, html {
    height: 100vh;
}




main {
    height: calc(100vh - 70px - 60px);
}

.caixa-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #36cde8;
    height: 60px;
    font-size: 1rem;
    font-weight: 700;
    width: 100%;
    padding: 0;
}

.caixa-footer p {
    margin: 0;
}